@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="~/js/knockout.mapping.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="~/js/knockout.pagination.js"></script>
}
